@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

:root{
    --header-background: #101010;
    --body-background: #292929;
    --text-color: #FFFFFF;
    --faint-text-color: #D0CBCB;
    --inter-font: 'Inter', sans-serif; 
    --ride-card-color: #171717;
    --dropdown-select-color: #232323;
}

body{
    max-width: 1366px;
    color:var(--text-color);
    background:var(--body-background);
    font-family: Inter;
}

